/*
#top {
    padding: 5px 0 !important;
}

.navbar {
    min-height: 40px !important;
}

.navbar-brand {
    padding: 0px 15px !important;
    height: 40px !important;
}

.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}


#footer {
    padding: 0px !important;
}
#copyright {
    padding: 0px !important;
}
*/